*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-primary: #ffffff;
  --color-secondary: #e1604f;
  --font-main: "Inconsolata", monospace;
}

html,
body {
  height: 100%;
}

html {
  font-size: 62.5%;
}

body {
  background-image: url("../imgs/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--color-primary);
  font-family: var(--font-main);
  display: flex;
  align-items: center;
  flex-direction: column;

  h1 {
    font-size: 6rem;
  }

  p {
    font-size: 1.6rem;
  }

  h1,
  p {
    text-align: center;
  }

  a {
    text-decoration: none;
  }
}

form {
  width: 100%;
  max-width: 400px;
  padding: 3.2rem;
  margin: 0 auto;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1.6rem;
}

header {
  width: 100%;
  padding: 3rem 0;
  display: flex;
  justify-content: center;
  align-items: center;

  .logo {
    width: 200px;
    height: auto;
  }
}

.btn {
  width: 100%;
  padding: 1rem;
  border-radius: 1.2rem;
  background-color: var(--color-secondary);
  font-family: var(--font-main);
}
