*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-primary: #ffffff;
  --color-secondary: #e1604f;
  --font-main: "Inconsolata", monospace;
  --radius: 1.2rem;
}

html {
  font-size: 62.5%;
}

.pattern {
  width: 100%;
  z-index: -1;
}

.left {
  left: 3%;
  top: -13%;
  opacity: 50%;
}

.right {
  top: 50%;
  right: -62%;
  opacity: 80%;
}

.left,
.right,
.pattern {
  position: absolute;
}

.fullName {
  position: relative;
}

body {
  background-image: url("../imgs/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--color-primary);
  font-family: var(--font-main);
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
  overflow-x: hidden;

  h1 {
    font-size: 6rem;
  }

  p {
    font-size: 2.4rem;
    margin: 2rem 0 0;
  }

  h1,
  p {
    text-align: center;
  }

  a {
    text-decoration: none;
  }

  @media (max-width: 576px) {
    h1 {
      font-size: 3rem;
    }

    p {
      font-size: 2rem;
    }
  }
}

form {
  width: 100%;
  max-width: 400px;
  padding: 3rem;
  margin: 0 auto;
  font-size: 2rem;

  .subtitle {
    font-size: 1.2rem;
  }

  .upload-box {
    cursor: pointer;
    background-color: #ffffff14;
    border-radius: var(--radius);
    border: 2px dashed rgba(255, 255, 255, 0.3);
    padding: 2rem;
    text-align: center;
    font-weight: 300;
    font-size: 1.8rem;
    margin: 1rem 0 0;

    input[type="file"] {
      display: none;
    }

    .upload-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0.8rem;

      .upload-icon {
        width: 5rem;
        opacity: 0.8;
      }
    }

    &.dragover {
      border-color: #ff6a00;
      background: rgba(255, 255, 255, 0.1);
    }
  }

  .info {
    display: flex;
    flex-direction: row;
    margin: 1rem 0 0;
    
    .icon {
      width: 12px;
      height: 12px;
    }

    .subtitle {
      margin: 0 0.7rem 0;
    }
  }

  label {
    border-radius: var(--radius);
  }

  input {
    width: 100%;
    padding: 0.8rem;
    border-radius: 8px;
    border: none;
    background: rgba(255, 255, 255, 0.1);
    color: #fff;
    border: 1px solid #8784a5;
    margin: 1.4rem 0 0;
  }
}

.form-group {
  padding: 1.3rem 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1.6rem;
}

header {
  width: 100%;
  padding: 3rem 0;
  display: flex;
  justify-content: center;
  align-items: center;

  .logo {
    width: 200px;
    height: auto;
  }
}

.btn {
  cursor: pointer;
  width: 100%;
  padding: 1rem;
  border-radius: var(--radius);
  background-color: var(--color-secondary);
  font-family: var(--font-main);
  font-size: 1.8rem;
  color: #000000;
  font-weight: 700;
}
